<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
	<clear />
    <add key="Raf3kRepo" value="https://roxoft.pkgs.visualstudio.com/ab823520-2112-4ff9-a72f-227e72d29974/_packaging/Raf3kRepo/nuget/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
	<Raf3kRepo>
		<add key="Username" value="USERNAME_PLACEHOLDER" />
		<add key="ClearTextPassword" value="PASSWORD_PLACEHOLDER" />
	</Raf3kRepo>	
  </packageSourceCredentials>
</configuration>